.container-fluid {
    text-align: center;
}

.container-fluid h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(37, 190, 241);
}

.container h3 {
    color: rgb(37, 190, 241);

}

.table thead tr th {
    background: rgb(100, 196, 228) !important;

}

.table tbody {
    background: rgb(171, 230, 157) !important;
}

.btn btn-primary form-control {
    color: orange
}