* {
    background: none;
    text-align: center;
}

.container-fluid {
    margin: 30px;
    background-color: antiquewhite;
    background: none;
    border-radius: 5px;

   
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(37, 190, 241);
}

input {
    text-align: left;
    background-color: white;
}