* {
    background: none;
    text-align: center;
}

.telinha-login {
    height: 100vh;
}

.container {
    margin-top: 30px;
    padding: 1em;
    background-color: antiquewhite;
    background: none;
    border-radius: 5px;
    width: 40%;
    border-style: solid;
    border-color: rgb(37, 190, 241);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(37, 190, 241);
    margin-bottom: .5rem;
    
}

input {
    text-align: center;
    background-color: white;
    margin-bottom: .5em;
}

.telinha-login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}