<div class="container-fluid">
    <h1>Livros</h1>

    <div class="row row-cols-4">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="titulo" placeholder="Titulo do Livro">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="autor" placeholder="Autor">
            </div>
        </div>
        <div class="col" width=>
            <div class="input-group mb-3">
                <input type="number" class="form-control" [(ngModel)]="anoPublicacao" placeholder="Ano"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="4">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <button class="btn btn-primary form-control" (click)="addLivro()"
                    [disabled]="!titulo || !autor || !anoPublicacao">Adicionar livro</button>
            </div>
        </div>
    </div>
    
</div>